h1{
    text-align: center;
    text-decoration: underline;
    color: #3A9843;
font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

h2{
    text-decoration: underline;
    color: #297332;
    text-align: center;
    font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 40px;
}
h2 .subtitulo_lugar{
    text-align: center;
}
h3{
    text-align: center;
    color: #2D7634;
    font-family: "Yuyu";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-transform: capitalize;
}
h4{
    text-indent: 2em;
    color: #297332;
    font-size: 30px;
}
h4.modern-antiqua-regular{
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
.listaPRINCIPIO{
    font-size: 20px;
}
p{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    font-size: 20px;
}

.contenedor_padre{
    margin: 0px;
    width: 1200px;
    justify-content: space-around;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card{
background-color: #BEEB75;
text-align: center;
font-family: "Felipa", serif;
font-size: 25px;
width: 300px;
padding: 10px;
margin: 50px;
border-radius: 10px;
}
.miimagen{
    width: 300px;
  height: 200px;
}
.contenedor_padre2{
    margin: 0px;
    width: 1200px;
    justify-content: space-around;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card2{
background-color: #B0DB69;
text-align: center;
font-size: 25px;
width: 300px;
padding: 10px;
margin: 50px;
border-radius: 10px;
}
.miimagen2{
    width: 300px;
  height: 200px;
  }

.contenedor_padre3{
    margin: 0px;
    width: 1200px;
    justify-content: space-around;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

  .card3{
background-color: #9CC758;
text-align: center;
font-size: 20px;
width: 300px;
padding: 10px;
margin: 50px;
border-radius: 10px;
}
.miimagen3{
    width: 300px;
  height: 200px;
  }
  .listacontactos{
    font-size: 20px;
  }
  .header{
    background-color: #F1FFE8;
  }