h2{
    text-decoration: underline;
    text-align: center;
    color: #54BA61;
    font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 40px;
}
    .listaPRINCIPIO{
    font-size: 15px;
}
  .listacontactos{
    font-size: 20px;
  }
  h3{
    text-align: center;
    color: #2D7634;
    font-family: "Yuyu";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-transform: capitalize;
  }
  p{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    font-size: 20px;
    }
      .header{
    background-color: #F1FFE8;
  }